<html>
    <head>
        <title>Dogs</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Select an option</h1>
        <button type="button" class="btn btn-dark" onclick="{{ dog_list }}">View all dogs</button>
        <button type="button" class="btn btn-dark" onclick="{{ create }}">Create a dog</button>
        <button type="button" class="btn btn-dark" onclick="{{ dog_list }}">Update a dog</button>
        <script src="/js/bootstrap.js"></script>
    </body>
</html>